<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: #eff5f5;">
  <a class="navbar-brand" routerLink="">
    <img src="assets/img/WFLogo.svg" height="45" alt="Wladimir Fraga">
  </a>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link " routerLink="" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="data" routerLinkActive="active">Data</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="login" routerLinkActive="active" *ngIf="!auth.isLoggedIn">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="logout()" routerLink="" *ngIf="auth.isLoggedIn">Logout</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>

